window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}
window-rule {
    match app-id="Alacritty"
    opacity 0.7
    background-effect {
        blur true
        saturation 1.5
    }
}
window-rule {
    match app-id="^zen$" title="^Picture-in-Picture$"
    match app-id="^helium$" title="^Picture-in-Picture$"
    open-floating true
}
window-rule {
    match app-id="^zen$"
    background-effect {
        blur true
        saturation 1.5
    }
}
window-rule {
    match app-id="^zen$"
    match app-id="^helium$"
    open-maximized true
}
window-rule {
    match title="^Minecraft.*"
    open-fullscreen true
}
window-rule {
    match app-id="org.prismlauncher.PrismLauncher"
    open-maximized true
}
