binds { 
    // open terminal
    Mod+T hotkey-overlay-title="Open a Terminal: alacritty" {
        spawn "alacritty"
    }
    
    // launcher 
    Mod+Space hotkey-overlay-title="Run Launcher" {
        {{- if eq .chezmoi.hostname "cachyos" }}
        spawn-sh "rofi -show drun"
        {{- end }}
        {{- if eq .chezmoi.hostname "fedora" }}
        spawn-sh "cosmic-launcher"
        {{- end}}
    }
    
    // lock screen 
    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        {{- if eq .chezmoi.hostname "cachyos" }}
        spawn-sh "swaylock"
        {{- end }}
        {{- if eq .chezmoi.hostname "fedora" }}
        spawn-sh "cosmic-launcher"
        {{- end}}
    }

    // volume keys    
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }
    
    // headphones audio control buttons
    XF86AudioPlay allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }
    XF86AudioPause allow-when-locked=true {
        spawn-sh "playerctl play-pause"
    }

    XF86AudioPrev allow-when-locked=true {
        spawn-sh "playerctl previous"
    }
    XF86AudioNext allow-when-locked=true {
        spawn-sh "playerctl next"
    }
    
    // brightness keys
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }

    // screenshot keys
    Print {
        screenshot
    }
    Ctrl+Print {
        screenshot-screen
    }
    Alt+Print {
        screenshot-window
    }
    Mod+P {
        screenshot
    }
    Mod+Ctrl+P {
        screenshot-screen
    }
    Mod+Alt+P {
        screenshot-window
    }
    
    // misc
    Mod+O repeat=false {
        toggle-overview
    }
    Mod+D repeat=false {
        close-window
    }

}
