binds {
    // main navigate
    Mod+Shift+Down {
        focus-monitor-down
    }
    Mod+Shift+Up {
        focus-monitor-up
    }
    Mod+Shift+Right {
        focus-monitor-right
    }
    Mod+Shift+Left {
        focus-monitor-left
    }
    // alt navigate
    Mod+Shift+H {
        focus-monitor-left
    }
    Mod+Shift+J {
        focus-monitor-down
    }
    Mod+Shift+K {
        focus-monitor-up
    }
    Mod+Shift+L {
        focus-monitor-right
    }
    // main move
    Mod+Shift+Ctrl+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+Down {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+Up {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+Right {
        move-column-to-monitor-right
    }
    // alt move
    Mod+Shift+Ctrl+H {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+J {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+K {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+L {
        move-column-to-monitor-right
    }
}
