binds {
    // main window movement
    Mod+Ctrl+Left {
        move-column-left
    }
    Mod+Ctrl+Down {
        move-window-down
    }
    Mod+Ctrl+Up {
        move-window-up
    }
    Mod+Ctrl+Right {
        move-column-right
    }
    // alt window movement
    Mod+Ctrl+H {
        move-column-left
    }
    Mod+Ctrl+J {
        move-window-down
    }
    Mod+Ctrl+K {
        move-window-up
    }
    Mod+Ctrl+L {
        move-column-right
    }
    // move fist/last
    Mod+Ctrl+Home {
        move-column-to-first
    }
    Mod+Ctrl+End {
        move-column-to-last
    }
}
