binds {
    // main window navigation
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Right {
        focus-column-right
    }
    // alt window navigation
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+L {
        focus-column-right
    }
    //mouse window navigation
    Mod+WheelScrollRight {
        focus-column-right
    }
    Mod+WheelScrollLeft {
        focus-column-left
    }
    Mod+Shift+WheelScrollDown {
        focus-column-right
    }
    Mod+Shift+WheelScrollUp {
        focus-column-left
    }
    // focus first/last
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
    // main workspace navigation
    Mod+Page_Down {
        focus-workspace-down
    }
    Mod+Page_Up {
        focus-workspace-up
    }
    // alt workspace navigation
    Mod+U {
        focus-workspace-down
    }
    Mod+I {
        focus-workspace-up
    }
    // mouse workspace navigation
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }
    // numbers
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
}
