binds {
    // main window navigation
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Right {
        focus-column-right
    }
    // alt window navigation
    Mod+H {
        focus-column-left
    }
    Mod+J {
        focus-window-down
    }
    Mod+K {
        focus-window-up
    }
    Mod+L {
        focus-column-right
    }
    // focus first/last
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }
}
